body{
  background-image: url("spiral.png");
  width:100%;
}
header{
 
}
header::after{
  content: '';
  display: table;
  clear: both;
}
nav{
  float: right;
}
nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li{
  display: inline-block;
  text-align: center;
  padding-top: 25px;
  margin-right:30px;
}
nav a{
  color: ghostwhite;
  text-transform: uppercase;
  font-family: Bradley, cursive;
  text-shadow:0px 0px 3px darkred;
}
#about{
  font-size:18px;
   text-transform: uppercase;
  font-family: Bradley, cursive;
  color:whitesmoke;
  text-align: right;
  margin-right:45px;
  
}
#intro{
  font-size:20px;
  text-transform: uppercase;
  font-family: Bradley, cursive;
  color:whitesmoke;
}
#me{
   font-size:25px;
   text-transform: uppercase;
  font-family: Bradley, cursive;
  color:whitesmoke;
}
#whatDrawn{
  font-size:25px;
   text-transform: uppercase;
  font-family: Bradley, cursive;
  color:whitesmoke;
  text-shadow: 0 0 3px red, 0 0 6px purple;
  
}
table, th, td{
  border: 1px solid;
  text-align: center;
   text-transform: uppercase;
  font-family: Bradley, cursive;
  color:whitesmoke;
  
}
th{
  background-color:maroon;
  color:whitesmoke;
}
tr:hover{background-color:darkmagenta;}



#ea1{
  font-size:32px;
   text-transform: uppercase;
  font-family: Bradley, cursive;
  color:whitesmoke;
  text-shadow: 0 0 6px red, 0 0 6px purple;
}
#ea2{
  font-size:28px;
  text-transform: uppercase;
  font-family: Bradley, cursive;
  color:whitesmoke;
  text-shadow: 0 0 6px red, 0 0 3px purple;
}
h3{
  font-size:20px;
  text-transform: uppercase;
  font-family: Bradley, cursive;
  color:whitesmoke;
  text-shadow: 0 0 9px red, 0 0 6px purple;
  
}
figcaption{
  font-size:15px;
   text-transform: uppercase;
  font-family: Bradley, cursive;
  color:whitesmoke;
  
}
#eaimg1{
   display: block;
  margin-right: auto;
  border-radius: 50px 20px 50px 20px;
  filter: drop-shadow(-20px -20px 10px crimson);
  
 
}
#eaimg2{
   display: block;
  margin-left: auto;
  border-radius: 20px 50px 20px 50px;
  filter: drop-shadow(-20px -20px 10px crimson);
  
 
}
#eaimg3{
   display: block;
  margin-right: auto;
  border-radius: 50px 20px 50px 20px;
  filter: drop-shadow(-20px -20px 10px crimson);
  
}
#eaimg4{
   display: block;
  margin-left: auto;
  border-radius: 20px 50px 20px 50px;
  filter: drop-shadow(-20px -20px 10px crimson);
  
  
}



#AC{
  font-size:32px;
  text-transform: uppercase;
  font-family: Bradley, cursive;
  color:whitesmoke;
  text-shadow: 0 0 6px red, 0 0 6px purple;
}
#AC1{
  font-size:20px;
  text-transform: uppercase;
  font-family: Bradley, cursive;
  color:whitesmoke;
  text-shadow: 0 0 3px red, 0 0 6px purple;
}
#AC2{
  font-size:20px;
 text-transform: uppercase;
  font-family: Bradley, cursive;
  color:whitesmoke;
  text-shadow: 0 0 9px red, 0 0 6px purple;
}
#ACimg1{
 display: block;
  margin-right: auto;
  border-radius: 50px 20px 50px 20px;
  filter: drop-shadow(-20px -20px 10px crimson);
}
#ACimg2{
  display: block;
  margin-left: auto;
  border-radius: 20px 50px 20px 50px;
  filter: drop-shadow(-20px -20px 10px crimson);
  
}
#ACimg3{
 display: block;
  margin-right: auto;
  border-radius: 50px 20px 50px 20px;
  filter: drop-shadow(-20px -20px 10px crimson);
}
#ACimg4{
 display: block;
  margin-left: auto;
  border-radius: 20px 50px 20px 50px;
  filter: drop-shadow(-20px -20px 10px crimson);
}
#ACimg5{
  display: block;
  margin-right: auto;
  border-radius: 50px 20px 50px 20px;
  filter: drop-shadow(-20px -20px 10px crimson);
}
#ACimg6{
  display: block;
  margin-left: auto;
  border-radius: 20px 50px 20px 50px;
  filter: drop-shadow(-20px -20px 10px crimson);
}




#inspoT{
   font-size:32px;
  text-transform: uppercase;
  font-family: Bradley, cursive;
  color:whitesmoke;
  text-shadow: 0 0 3px red, 0 0 9px purple;
}

#claudeFS{
  font-size:20px;
  text-transform: uppercase;
  font-family: Bradley, cursive;
  color:whitesmoke;
}

#monetT{
  font-size:20px;
  text-transform: uppercase;
  font-family: Bradley, cursive;
  color:whitesmoke;
  text-shadow: 0 0 9px red, 0 0 3px purple;
}
#monetIMG1{
  display: block;
  margin-right: auto;
  border-radius: 50px 20px 50px 20px;
  width:75%;
}
#monetIMG2{
  display: block;
  margin-left: auto;
  border-radius: 20px 50px 20px 50px;
  width:75%;
}
#itoT{
  font-size:20px;
  text-transform: uppercase;
  font-family: Bradley, cursive;
  color:whitesmoke;
  text-shadow: 0 0 6px red, 0 0 6px purple;
}

#itoFS{
  font-size:18px;
  text-transform: uppercase;
  font-family: Bradley, cursive;
  color:whitesmoke;
}
#itoIMG1{
  display: block;
  margin-right: auto;
  border-radius: 50px 20px 50px 20px;
 width:75%;
}
#itoIMG2{
display: block;
  margin-left: auto;
  border-radius: 20px 50px 20px 50px;
  width:75%;
  
}
#iVm{
    font-size:20px;
  text-transform: uppercase;
  font-family: Bradley, cursive;
  color:whitesmoke;
  text-shadow: 0 0 9px red, 0 0 3px purple;
}
#ivmUl{
    font-size:20px;
  text-transform: uppercase;
  font-family: Bradley, cursive;
  color:whitesmoke;
  text-shadow: 0 0 9px red, 0 0 3px purple;
}
ivm > li{
   font-size:20px;
  text-transform: uppercase;
  font-family: Bradley, cursive;
  color:whitesmoke;
  text-shadow: 0 0 9px red, 0 0 3px purple;
}
#ivmUl2{
    font-size:20px;
  text-transform: uppercase;
  font-family: Bradley, cursive;
  color:whitesmoke;
  text-shadow: 0 0 9px red, 0 0 3px purple;
}


