body{
  background-color:lightblue;
}
header{
  margin:0;
  padding:0;
  background:palegreen;
}
header::after{
  content: '';
  display: table;
  clear: both;
}
nav{
  float: right;
}
nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li{
  display: inline-block;
  text-align: center;
  
}
