body{
  background-image:linear-gradient(palegreen,aquamarine,honeydew);
}
header{
  margin:0;
  padding:0;
  background:palegreen;
}
header::after{
  content: '';
  display: table;
  clear: both;
}
nav{
  float: right;
}
nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li{
  display: inline-block;
  text-align: center;
  margin-right: 70px;
  padding-top: 25px;
}
nav a{
  color: honeydew;
  text-decoration: wavy underline, azure;
  text-transform: lowercase;
  font-family: apple chancery, cursive;
}


