body{
  background-image: linear-gradient(lightskyblue,skyblue,powderblue);
}
header{
  margin:0;
  padding:0;
  background:palegreen;
}
header::after{
  content: '';
  display: table;
  clear: both;
}
nav{
  float: right;
}
nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li{
  display: inline-block;
  text-align: center;
  margin-right: 70px;
  padding-top: 25px;
}
nav a{
  color: mediumslateblue;
  text-decoration-style: wavy;
  text-transform: lowercase;
  font-family: Bookman, serif;
}
#about{
  font-size:25px;
   text-transform: lowercase;
  font-family: Bookman, serif;
  
}
#intro{
  font-size:20px;
  text-transform: lowercase;
  font-family: Bookman, serif;
}
#me{
   font-size:32px;
   text-transform: lowercase;
  font-family: Bookman, serif;
}
#whatDrawn{
  font-size:32px;
   text-transform: lowercase;
  font-family: Bookman, serif;
  
}
table, th, td{
  border: 1px solid;
  text-align: center;
   text-transform: lowercase;
  font-family: Bookman, serif;
  
}
th{
  background-color:salmon;
  color:white;
}
tr:hover{background-color:lightcoral;}


